This is using the full dataset

In [ ]:
import os 
import pandas as pd

In [3]:
df = pd.read_csv("data/COVID-19_Case_Surveillance_Public_Use_Data_with_Geography_20241201.csv") 

#Sort and display states based on total number of patients.  
df_sorted = df.sort_values(by="res_state")

/var/folders/fz/flsbh29n6t9gy_hn9fsmrggc0000gn/T/ipykernel_7745/2472545577.py:1: DtypeWarning: Columns (3,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/COVID-19_Case_Surveillance_Public_Use_Data_with_Geography_20241201.csv")

In [4]:
df.to_pickle('data/covid_geo_full_dataset.pkl')

In [5]:
# Group by 'res_state' and count the total for each state 
state_totals = df_sorted["res_state"].value_counts() 

# Convert to DataFrame for better visualization 
state_totals_df = state_totals.reset_index() 
state_totals_df.columns = ["res_state", "total"] 

# Display the totals 
print(state_totals_df)

   res_state     total
0         CA  12864657
1         TX   9554165
2         NY   7696174
3         FL   6204105
4         IL   4429481
5         PA   3799264
6         OH   3757055
7         NC   3550641
8         NJ   3395489
9         MI   3169046
10        GA   2838006
11        TN   2682413
12        AZ   2631865
13        VA   2538451
14        MA   2398384
15        IN   2212969
16        WA   2081538
17        SC   2080443
18        MN   1907977
19        MO   1900012
20        CO   1883701
21        WI   1871712
22        KY   1823581
23        AL   1821390
24        MD   1795718
25        LA   1685873
26        UT   1145002
27        AR   1073292
28        OR    977827
29        KS    952331
30        NV    946280
31        MS    905786
32        OK    772593
33        NM    739235
34        CT    728386
35        ID    538691
36        NE    533568
37        IA    503775
38        NH    383194
39        RI    364740
40        ME    347821
41        DE    344477
42        HI    339481
43        SD    322224
44        AK    312703
45        ND    310762
46        MT    274246
47        PR    200956
48        WY    196695
49        DC    184775
50        VT    151392
51        GU     55552
52        VI     25262
53        WV     11041
54        MP      1438

In [6]:
# Filter data to find all missing or unknown values.  
missing_df = df[df.apply(lambda row: row.astype(str).str.contains("Missing|Unknown", case=False, na=False).any(), axis=1)] 

# Sort and display the top states again based on the new filtered dataset.  
df_sorted = missing_df.sort_values(by="res_state") 

# Group by 'res_state' and count the total for each state 
state_totals = df_sorted["res_state"].value_counts() 

# Convert to DataFrame for better visualization 
state_totals_df = state_totals.reset_index() 
state_totals_df.columns = ["res_state", "total"] 

# Display the totals 
print(state_totals_df)

   res_state     total
0         CA  12864647
1         TX   9554136
2         NY   7696165
3         FL   6204093
4         IL   4429471
5         PA   3799263
6         OH   3551091
7         NC   3550633
8         NJ   3395484
9         MI   3169044
10        GA   2838004
11        TN   2682410
12        AZ   2631861
13        VA   2464886
14        MA   2398383
15        IN   2211192
16        WA   2081536
17        SC   2080443
18        MN   1907974
19        MO   1899865
20        CO   1882751
21        WI   1871049
22        AL   1821388
23        KY   1819070
24        MD   1795717
25        LA   1685781
26        UT   1096125
27        AR   1073285
28        OR    969986
29        NV    944796
30        MS    904552
31        KS    846624
32        OK    772570
33        NM    739234
34        CT    728386
35        ID    537510
36        NE    533542
37        IA    480021
38        NH    383194
39        RI    364740
40        ME    344562
41        DE    344475
42        HI    339480
43        SD    322224
44        AK    312452
45        ND    310762
46        MT    274245
47        PR    200872
48        WY    196694
49        DC    183243
50        VT    151295
51        GU     55497
52        VI     25179
53        WV     11040
54        MP      1407

In [7]:
state_totals_df.to_pickle('data/missing_data_counts_full_dataset.pkl')